<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a mercado liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/styles.css">
    
</head>
    
<body>
      
    <header>
        <section class="contenedor-logo-busqueda">
        
            <div class="Logo">
                <img src="/images/logo-mercado-liebre.svg" alt="">
            </div>
            <div class="caja-busqueda">
                <form action="" method="post" class="busqueda">
                    <input type="text" name ="buscar" placeholder="Buscar productos, marcas" class="busquedat">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
        </section>

        <p class="compra1"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="listas">
                <li><a href='#'> Ofertas </a></li>
                <li><a href='#'>Tiendas Oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>
            </ul>

            <ul class="listas">
                <li><a href='/register'>Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <a href="#"><i class="fas fa-bars"></i></a>
        </div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" width="100%">
    </section>
    <main>
        <h1 class="titulares">Basado en tu ultima visita</h1>
        <section class="main-section">
            
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                <div class="subarticulo">
                    <div class="marcotruck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="preciosydescuentos">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                </div>
                <h2 class="descripcion">Cafetera Moulinex</h2>
            </article>

            <article>

                <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                <div class="subarticulo">
                    <div class="marcotruck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="preciosydescuentos">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    
                </div>
                <h2 class="descripcion">MacBook Pro 2019</h2>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                <div class="subarticulo">
                    <div class="marcotruck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="preciosydescuentos">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                </div>
                <h2 class="descripcion">Samsung Galaxy S10</h2>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                <div class="subarticulo">
                    <div class="marcotruck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="preciosydescuentos">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    
                </div>
                <h2 class="descripcion">SmartTv Samsung 43"</h2>
            </article>

        </section>

        <h1 class="titulares">Sección de Ofertas</h1>
        <section class="main-section">
        <article>
            <img src="/images/img-cafetera-moulinex.jpg" width="100%">
            <div class="subarticulo">
                <div class="marcotruck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="preciosydescuentos">
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
            </div>
            <h2 class="descripcion">Cafetera Moulinex</h2>
        </article>

        <article>
            <img src="/images/img-macbook-pro-2019.jpg" width="100%">
            <div class="subarticulo">
                <div class="marcotruck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="preciosydescuentos">
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% OFF</p>
                </div>
            </div>
            <h2 class="descripcion">MacBook Pro 2019</h2>
        </article>

        <article>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
            <div class="subarticulo">
                <div class="marcotruck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="preciosydescuentos">
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% OFF</p>
                </div>
            </div>
            <h2 class="descripcion">Samsung Galaxy S10</h2>
        </article>

        <article>
            <img src="/images/img-tv-samsung-smart.jpg" width="100%">
            <div class="subarticulo">
                <div class="marcotruck">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="preciosydescuentos">
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                </div>
            </div>
            <h2 class="descripcion">SmartTv Samsung 43"</h2>
        </article>
 
        </section>

    </main>


    <footer>
        <div class="div-footer">
            <section class="cajas-footer">
                <div class="logosfooter">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="titulosfooter">
                    <p><b>Pagá con tarjeta o en efectivo</b></p>
                </div>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>



            <section class="cajas-footer">
                <div class="logosfooter">
                    <i class="fas fa-gift"></i>
                </div>
                <p><b>Envío gratis desde $ 2.500</b></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>



            <section class="cajas-footer">
                <div class="logosfooter">
                    <i class="fas fa-user-shield"></i>
                </div>
                <p><b>Seguridad, de principio a fin</b></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>



        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>




    </footer>

    
</body>
</html>